* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

@font-face {
    font-family: 'Noto Serif Display', serif;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');
}

@font-face {
    font-family: 'Quicksand', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
}

/*-----------------------------------*\
                NOTIF/ALERT
\*-----------------------------------*/

.header {
    position: fixed;
    width: 100%;
    z-index: 100;
    font-family: 'Quicksand', sans-serif;
}

.alert {
    background-color: #8FA1FF;
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    width: 100%;
    overflow: hidden;
    line-height: 2rem;
    font-family: 'Noto Serif Display', serif;
}

/*-----------------------------------*\
               ABOUT US
\*-----------------------------------*/

.au {
    background-color: #ea99b3;
}

.au img {
    max-width: 100%;
}

.au-m {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 0;
    line-height: 2.0;
    padding: 40px;
    background-color: #ea99b3;
    color: #000;
    font-weight: 700;
}

.au-m1 {
    max-width: 100%;
    background-color: #f4faff;
    color: #000;
    display: block;
    line-height:1px
}

.au h1 {
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: .16rem;
    text-transform: uppercase;
    font-family: 'Noto Serif Display', serif;
}

.au p {
    font-size: 1.5em;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 3em;
    padding-left: 3em;  
    text-align: justify;
    font-family: 'Quicksand', sans-serif;
}

.au-m2 h1 {
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: .16rem;
    text-transform: uppercase;
}

.au-m2 {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 0;
    line-height: 2.0;
    padding: 40px;
    background-color: #adbbff;
    color: #000;
    font-weight: 700;
}

.contact {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 0;
    line-height: 2.0;
    padding: 40px;
    background-color: #f4faff;
    color: #000;
    font-weight: 700;
    text-align: justify;
}

.contact h1 {
    font-size: 1.6rem;
    letter-spacing: .16rem;
    text-transform: uppercase;
}

.contact ul {
    list-style-type: none;
    font-size: 2em;
    margin-left: 0px;
    margin-right: 0px;
}



/*-----------------------------------*\
                GRID.CSS
\*-----------------------------------*/

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

[class*="col-"] {
    padding: 0 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* MEDIUM SCREEN */

@media only screen and (max-width: 1280px) {
    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }
}

/* SMALL SCREEN */

@media only screen and (max-width: 850px) {
    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }
}


/*-----------------------------------*\
                APP.CSS
\*-----------------------------------*/

:root {
    --body-bg: #ffffff;
    --second-bg: #f5f5f5;
    --text-color: #000000;
    --text-white: #ffffff;
    --text-gray: #868686;
    
    --section-space: 100px;
    --nav-size: 70px;
    --logo-size: 45px;
    --banner-height: 400px;
}

a {
    color: unset;
    text-decoration: none;
    display: inline-block;
}

.nav-wrapper a {
    color: white;
}

.container-fluid {
    padding: 0 30px;
}

.nav-wrapper {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: black;
}

.nav {
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 50px;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-menu li ~ li {
    margin-left: 20px;
}

.nav-menu li a {
    font-size: 1.25rem;
}

.nav-menu li a:hover {
    color: #8E5AFF;
}

.menu-main {
    position: absolute;
    left: 0;
    width: 100%;
    justify-content: center;
    height: 70px;
    pointer-events: none;
}

.menu-main li a {
    pointer-events: visible;
}

.hero-section {
    height: calc(100vh - var(--nav-size));
}

.hero-section .row,
.hero-section .col-4,
.hero-section .col-8 {
    height: 100%;
}

.slide-img-col {
    position: relative;
    background-color: #f5f5f5;
}

.slide-img-wrapper {
    display: grid;
    height: 100%;
    place-items: center;
}

.slide-img {
    height: 700px;
    width: 700px;
    overflow: hidden;
}

.slide-img img {
    max-width: 100%;
    height: 100%;
}

.slide-info-wrapper {
    position: relative;
    display: grid;
    place-items: center;
    height: 100%;
}

.slide-info {
    overflow: visible;
    position: absolute;
    left: 200px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
}

.slide-info.active {
    opacity: 1;
    visibility: visible;
}

.slide-info > div {
    overflow: hidden;
}

.top-down {
    transform: translateY(-200px);
    transition: transform 0.5s ease-in-out;
}

.slide-info.active .top-down {
    transform: translateY(0);
}

.delay-2 {
    transition-delay: 0.2s;
    font-family: 'Noto Serif Display', serif;
}

.delay-4 {
    transition-delay: 0.4s;
    font-family: 'Quicksand', sans-serif;
}

.delay-6 {
    transition-delay: 0.6s;
}

.slide-name {
    white-space: nowrap;
    padding-top: 120px;
}

.slide-name h3 {
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 90px;
}

.slide-description {
    margin-bottom: 90px;
}

.btn {
    padding: 0.5rem 1.5rem;
    background-color: #8FA1FF;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
}

.btn:hover {
    background-color: #8E5AFF;
}

.btn-lg {
    padding: 1rem 3.5rem;
    font-size: 1.5rem;
}

.hero-slide-toggle {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: white;
    display: flex;
    padding: 20px;
    font-size: 2rem;
}

.hero-slide-toggle-prev,
.hero-slide-toggle-next {
    cursor: pointer;
}

.hero-slide-toggle-prev:hover,
.hero-slide-toggle-next:hover {
    color: #8E5AFF;
}

.hero-slide-index {
    margin: 0 30px;
}

.section {
    padding-top: var(--section-space);
}

.section-header {
    margin-bottom: 80px;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
}

.products-slide {
    padding: 0 40px;
}

.product-img {
    background-color: var(--second-bg);
    position: relative;
}

.product-action {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    overflow: hidden;
}

.product-action > * {
    transform: translateY(-100%);
    transition: transform 0.4s ease 0s;
}

.product:hover .product-action > * {
    transform: translateY(0);
}

.product-info {
    padding: 0 15px;
}

.product-info > div {
    padding-top: 15px;
}

.product-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-gray);
}

.product-name {
    font-size: 1.25rem;
}

.glide {
    position: relative;
}

.glide__arrows {
    width: 100%;
}

.glide__arrow {
    --position: -65px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 3.5rem;
    color: var(--text-gray);
}

.glide__arrow:hover {
    color: var(--main-color);
}

.glide__arrow--left {
    left: var(--position);
}

.glide__arrow--right {
    right: var(--position);
}

.section-special {
    margin: 100px 0 250px;
}

.bg-fixed {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-main {
    background-color: #f4faff;
}

.special-product-img {
    width: 100%;
    padding-top: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -250px;
}

.special-product {
    padding: 0 80px;
}

.special-product > * {
    margin-top: 30px;
}

.special-product > .special-product-img {
    margin-top: 80px;
}

.special-product > span {
    text-transform: uppercase;
}

.special-product > p {
    color: gray;
    font-family: 'Quicksand', sans-serif;
}

.special-product > h2 {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: left;
}

/*-----------------------------------*\
  FEATURE
\*-----------------------------------*/

.flex-list {
    padding: 20px;
    text-align: center;
    
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 3em;
}



/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

footer {
    background-color: #f4faff;
    width: 100%;
    margin: auto;
    padding-top: 0;
    padding-right: 0;
    line-height: 2.0;
    padding: 20px;
    color: #000;
    font-size: 1.8em;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 3em;
    padding-left: 3em;  
    text-align: justify;
    padding-bottom: 20px;
    display: grid
}

ul {
    list-style-type: none;
}

footer h1 {
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    letter-spacing: .16rem;
    text-transform: uppercase;
}

footer p {
    z-index: 100;
    font-weight: bold;
    font-size: 1em;
    margin-top: 20px;
    
}

.newsletter-title {
  color: black;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
}

.newsletter-text {
  font-size: 1.5rem;;
  line-height: 2;
  margin: 10px 35px;
  font-weight: 400;
}

.newsletter-form { 
    position: relative; 
}

.email-field {
  background-color: white;
  font-size: 1.5rem;
  padding: 12px 18px;
  padding-inline-end: 145px;
  border: 1px ;
  border-radius: 3px;
  outline: none;
  transition: 0.25s ease;
}

.email-field::placeholder { 
    color: hsl(0, 0%, 61%); 
}

.email-field:focus { 
    border-color: white; 
}

.newsletter-form .btn {
  position: absolute;
  top: 0;
  right: 800;
  bottom: 0;
}


/*-----------------------------------*\
  FAQs
\*-----------------------------------*/

.main h1{
    padding-top: 150px;
    text-align: center;
    margin-bottom: 10px;
}

.main p {
    text-align: center;
    font-family: 'Quicksand', sans-serif;

}

.main h2 {
    text-align: left;
    color: #8E5AFF;
    font-size: 2em;
    padding-left: 10px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 20px;
}

.main h3 {
    text-align: left;
    font-weight: 700;
    padding-left: 15px;
    color: black;
    font-size: 1.5em;
    padding-top: 5px;
}

.panel p{
    text-align: justify;
    padding: 20px;
    font-weight: 500;
    font-size: 1.2em;
}

